<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>

<style>
    .fotoperfil{
        background-color: gray;
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

</style>

<body>
    <h1>Esta é a página de perfil!</h1>
    <hr>
    <h3>Faça o login</h3>
    <div class="fotoperfil">FOTO PERFIL</div>
    <p>Isso é tudo pessoal</p>
</body>

</html>